@import "tailwindcss";
html,
body {
  height: 100%;
}
/* Dark Theme — Mocha */
@theme {
  /* Backgrounds */
  --color-background: #1e1e2e; /* base */
  --color-panel: #313244; /* surface0 or surface1 */
  --color-panel-alt: #222237;

  /* Text */
  --color-primary-text: #cdd6f4; /* text */
  --color-secondary-text: #bac2de; /* subtext1 */

  /* Buttons */
  --color-button-primary: #89b4fa; /* blue */
  --color-button-secondary: #585b70; /* surface2 */
  --color-button-secondary-text: #cdd6f4;

  /* Links */
  --color-link: #89b4fa; /* blue */
  --color-link-alt: #74c7ec; /* sapphire */

  /* Alerts */
  --color-alert-warning: #f9e2af; /* yellow */
  --color-alert-error: #f38ba8; /* red */
  --color-alert-peach: #fab387; /* peach */

  /* Success */
  --color-success: #a6e3a1; /* green */
  --color-success-alt: #94e2d5; /* teal */

  /* Highlights */
  --color-highlight: #f5c2e7; /* pink */
  --color-highlight-alt: #cba6f7; /* mauve */
  --color-highlight-soft: #f5e0dc; /* rosewater */
}

:root {
  --toastify-color-error: #f38ba8;
  --toastify-icon-color-error: var(--toastify-color-error);
  --toastify-color-success: #a6e3a1;
  --toastify-icon-color-error: var(--toastify-color-success);
  --toastify-text-color-dark: #cdd6f4;
  --toastify-color-dark: #222237;
}

.Toastify__close-button {
  color: #cdd6f4;
}

* {
  box-sizing: border-box;
  font-family: var(--font-get-brains-mono);
}
